nav {
font-family: 'Amatic SC', sans-serif;
font-weight: 700;
font-size: 2rem;
position: fixed;
top: 0;
z-index: 10;
width: 100%;
height: 15vh;
color: #a108a1;
transition: 800ms ease-in-out; 
background-color: rgb(246, 239, 238);
}

nav ul {
  margin: 0;
  list-style: none;
  text-align: left;
}
nav ul li {
  display: inline-block;
  margin: 3.5vh 0 0 0;
}
nav ul li a {
  padding: 10px;
  text-decoration: none;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #a108a1;
}
nav ul li a:hover{
  color: #c06ed7;
}
h1 {
  color:black;
  transition: 800ms ease-in-out;
}
h1:hover {
  color: #bd16eb;
}
.FunFacts {
  width: 80%;
  margin: 17.5vh auto;
}